/* Social Media Icon at Modal*/
.socMed{
    margin-top: 20px;
}

/* Social Media Icon at footer */
.socMed1{
    margin-left: -5px;
}

/* My picture at footer */
.myPic{
    margin-top: 20px;
}

/* image in card */
.cardMargin{
    margin-bottom: -50px;
}